/*******************************/
/*           HELPERS          */
/*****************************/
/* Color, fonts, mixins, helper classes and typography */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.center-horizontally {
  margin: 0 auto;
  text-align: center; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
  color: #2e7d32;
  font-weight: 700; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.333rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

p,
a,
button,
li,
label {
  line-height: 1.833rem;
  font-size: 1rem; }

button,
input {
  font-weight: 400;
  font-size: 1.125rem; }

a {
  text-decoration: none;
  color: white; }

a:hover,
a:active {
  text-decoration: none; }

.logo {
  color: white;
  padding: 20px 0 100px 20px;
  text-align: center;
  font-size: 2rem; }

.table-header {
  font-weight: 700;
  background: #43A047;
  color: white; }

/*******************************/
/*         BASE               */
/*****************************/
/* Body, navigation, section and footer styling */
* {
  margin: 0;
  padding: 0; }

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
  font-weight: 300; }

body {
  background-color: #e8f5e9; }

section {
  min-height: 100%; }

footer {
  height: auto;
  width: 100%;
  color: white;
  background: #2e7d32;
  position: relative;
  bottom: 0;
  padding: 20px 0; }

.social {
  display: inline-block;
  color: white; }

.social .fa {
  padding: 0 2rem 0 0; }

.social a {
  color: white;
  text-decoration: none; }

.table {
  min-width: 500px; }

/*******************************/
/*         NAVIGATION         */
/*****************************/
/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 0px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #43a047;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }

  .side-nav > li > a {
    width: 225px; } }
.side-nav > li > ul {
  padding: 0; }

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: white; }

.side-nav > li > ul > li > a:hover {
  color: white; }

.nav > li > a:focus, .nav > li > a:hover {
  color: #2e7d32; }

/*******************************/
/*         COMPONENTS         */
/*****************************/
/* Buttons, forms, icons */
.btn-green {
  background: #ffc107;
  border: 0;
  color: white;
  height: 40px;
  width: 55%;
  margin-top: 40px;
  font-weight: 600; }

.btn-green:hover,
.btn-green:focus {
  background: transparent;
  color: #ffc107;
  border: 2px solid #ffc107;
  font-weight: 600; }

.alert-info {
  text-align: center;
  padding: 20px 0;
  background: #2e7d32;
  color: #e8f5e9; }

.fa {
  padding: 0 10px; }

.fa-trash {
  color: #43a047; }

.fa-trash:hover, .fa-trash:hover {
  color: #2e7d32; }

/*******************************/
/*           HOME PAGE          */
/*****************************/
/* Logged out home page styling */
.home {
  background: url("images/forest.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .home h1,
  .home h2 {
    color: white; }

.image-credits {
  position: fixed;
  left: 15px;
  bottom: 0px;
  padding: 10px; }

.image-credits:hover,
.image-credits:focus {
  color: white;
  text-decoration: none; }

.image-credits > p {
  font-size: 0.6rem; }

.title {
  font-size: 5rem; }

.subtitle {
  font-weight: 300;
  font-style: italic; }

/*******************************/
/*         SCHEDULER          */
/*****************************/
.heading {
  padding: 0 0 2rem 0; }

.tweeting {
  resize: none; }

.days {
  width: 20%; }

.form-space {
  margin: 1rem 0; }

.form-control {
  opacity: 0.8; }

.well {
  background: transparent;
  border: 2px solid #43a047; }

/*******************************/
/*         VIEWER             */
/*****************************/
/*******************************/
/*         ABOUT              */
/*****************************/

/*# sourceMappingURL=style.css.map */
