/*******************************/
/*         BASE               */
/*****************************/

/* Body, navigation, section and footer styling */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $sans, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: 300;
}

body {
    background-color: $light;
}

section {
    min-height: 100%;
}

// Footer
footer {
    height: auto;
    width: 100%;
    color: white;
    background: $dark;
    position: relative;
    bottom: 0;
    padding: 20px 0;
}

.social {
    display: inline-block;
    color: white;
}

.social .fa {
    padding: 0 2rem 0 0;
}

.social a {
    color: white;
    text-decoration: none;
}
.table {
    min-width: 500px;
}