/*******************************/
/*         COMPONENTS         */
/*****************************/

/* Buttons, forms, icons */
.btn-green {
    background: $accent;
    border: 0;
    color: white;
    height: 40px;
    width: 55%;
    margin-top: 40px;
    font-weight: 600;
}

.btn-green:hover,
.btn-green:focus {
    background: transparent;
    color: $accent;
    border: 2px solid $accent;
    font-weight: 600;
}

.alert-info {
    text-align: center;
    padding: 20px 0;
    background: $dark;
    color: $light;
}

.fa {
    padding: 0 10px;
}
.fa-trash{
    color: $primary;
}
.fa-trash:hover, .fa-trash:hover{
    color: $dark;
}