/*******************************/
/*           HELPERS          */
/*****************************/

/* Color, fonts, mixins, helper classes and typography */

// Google Green Color Palette
$primary: #43a047; // 600
$dark: #2e7d32; // 800
$light: #e8f5e9; // 50
$accent: #ffc107; // Amber 500
// Fonts
$sans: 'Open Sans';
// Helper classes
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-horizontally {
    margin: 0 auto;
    text-align: center;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans;
    color: $dark;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.333rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p,
a,
button,
li,
label {
    line-height: 1.833rem;
    font-size: 1rem;
}

button,
input {
    font-weight: 400;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: none;
}

.logo {
    color: white;
    padding: 20px 0 100px 20px;
    text-align: center;
    font-size: 2rem;
}

.table-header {
    font-weight: 700;
    background: #43A047;
    color: white;
}