/*******************************/
/*           HOME PAGE          */
/*****************************/

/* Logged out home page styling */

.home {
    background: url("images/forest.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // background-color: $primary;
    h1,
    h2 {
        color: white;
    }
}

.image-credits {
    position: fixed;
    left: 15px;
    bottom: 0px;
    padding: 10px;
}

.image-credits:hover,
.image-credits:focus {
    color: white;
    text-decoration: none;
}
.image-credits>p {
    font-size: 0.6rem;
}
.title{
    font-size: 5rem;
}
.subtitle{
    font-weight: 300;
    font-style: italic;
}