/*******************************/
/*         SCHEDULER          */
/*****************************/

.heading{
    padding: 0 0 2rem 0;
}
.tweeting{
    resize: none;
}
.days{
    width: 20%;
}
.form-space{
    margin: 1rem 0;
}
.form-control{
    opacity: 0.8;
}
.well{
    background: transparent;
    border: 2px solid $primary;
}
