 <!--<footer>-->
 <!--   <div class="container">-->
 <!--     <div class="row">-->
 <!--       <div class="col-md-6 credits">-->
 <!--         <p>Alessandra Gherardelli, 2016</p>-->
 <!--       </div>-->
 <!--       <div class="col-md-6 social">-->
 <!--         <a href="https://github.io"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>-->
 <!--         <a href="https://linkedin.com"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>-->
 <!--       </div>-->
 <!--     </div>-->
 <!--   </div>-->
 <!-- </footer>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>