<nav class="navbar" role="navigation">


    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="logo">Evergreen</li>
            <li class="active">
                <a href="{{ url_for('scheduler') }}"><i class="fa fa-paper-plane" aria-hidden="true"></i>Scheduler</a>
            </li>
            <li>
                <a href="{{ url_for('viewer') }}"><i class="fa fa-calendar-o" aria-hidden="true"></i>Viewer </a>
            </li>
            <li>
                <a href="{{ url_for('about') }}"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a>
            </li>
            {% if current_user.is_authenticated %}
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-user"></i> {{ current_user.nickname }}  <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo" class="collapse">
                    <li>
                        <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>

                </ul>
            </li>
            {% endif %}

        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
