{% include "partials/header.html" %}
{% include "partials/nav.html" %}
  {% for message in get_flashed_messages() %}
  <div class="info alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
  </div>
  {% endfor %}
  <section>{% block content %}{% endblock %}</section>


  {% include "partials/footer.html" %}
