<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <section class="container-fluid">
        <div class="row center center-horizontally">
            <div class="col-md-12 text-center">
                {% block error %}{% endblock%}
                <a href="{{url_for('scheduler')}}"><button class="btn btn-default btn-primary">Back to home page</button></a>

            </div>
        </div>
    </section>
</body>
</html>