{% extends "not-logged-in.html" %}
{% block loggedout %}
        <div class="row center center-horizontally">
            <div class="col-md-12">
                <h1 class="title">Evergreen</h1>
                <h2 class="subtitle">Re-post your best content with ease</h2>
                    <a href="{{ url_for('oauth_authorize', provider='twitter') }}">
                        <button class="btn btn-default btn-green"><i class="fa fa-twitter" aria-hidden="true"></i>
Sign in with Twitter</button>
                    </a>
            </div>
        </div>
{% endblock %}
