{% include "partials/header.html" %}
<body>
    <section class="container-fluid home">
        {% block loggedout %}{% endblock%}
        <a class="image-credits" href="https://www.flickr.com/photos/tontantravel/24645009786"><p>Image: Totan Travel</p></a>
    </section>
</body>
</html>