{% extends "base.html" %}
{% block title %} Evergreen Scheduler {% endblock %}
{% block content %}
        <div class="container-fluid scheduler">
        <div class="row center center-horizontally">
            <div class="col-md-12">
                <h2>Scheduler</h2>
                <form action="" method="post" class="well">
                    <div class="form-group">
                    {{ form.csrf_token }}
                    {{ form.tweet(class="form-control tweeting form-space",rows='3', cols='50') }}
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="days">Schedule every </label>
                                 {{ form.days(class="form-control days form-space", cols='3') }}
                                <!--{# {{ form.dayTwo(class="form-control days form-space") }}#}-->
                                days
                                </div>
                                {{ form.submit(class="btn btn-default btn-green", value="Schedule post")}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
{% endblock %}
