{% extends "base.html" %}
{% block title %} Evergreen Viewer {% endblock %}
{% block content %}
        <div class="row center center-horizontally">
            <div class="col-md-12">
                <h2>Viewer</h2>
                    <table class="table">
                    <tr class="table-header">
                        <td></td>
                        <td>Tweet</td>
                        <td>Created on</td>
                        <td>Days</td>
                        <td>Scheduled for</td>

                    </tr>
                    {% for post in posts %}
                        <tr>
                            <td><a href="{{url_for("delete_tweet", post_id = post.id) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                            <td>{{ post.body }}&nbsp;&nbsp; </td>
                            <td> {{ post.timestamp.strftime("%a, %d %b %Y %H:%M:%S") }} </td>
                            <td> {{ post.days }} </td>
                            <td> {{ post.scheduled.strftime("%a, %d %b %Y %H:%M:%S") }} </td>
                        </tr>
                    {% endfor %}
                        </table>
            </div>
        </div>
{% endblock %}